<%- include("../partials/header") %>

<% if(currentUser.role == "admin"){ %>
<div class="auth_head">
	<h1>
		Update Status
	</h1>
</div>

<div class="container col-md-4 col-11 col-11" id="con_div">
			<form action="/dashboard/edit/<%= record.B_id %>?_method=PUT" method="post">
				<div class="form-group">
					<label class="text-dark">Name</label>
					<input type="text" name="name" class="form-control" value="<%= record.name %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">Email Address</label>
					<input type="email" name="email" class="form-control" value="<%= record.email %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">Mobile Number</label>
					<input type="text" name="mobile" class="form-control" value="<%= record.mobile %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">Booking Id</label>
					<input type="text" name="mobile" class="form-control" value="<%= record.B_id %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">Booking Date</label>
					<input type="text" name="mobile" class="form-control" value="<%= new Date(record.Booking_date).getDate()+"-"+(new Date(record.Booking_date).getMonth()+1)+"-"+
						new Date(record.Booking_date).getFullYear() %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">PickUp Address</label>
					<input type="text" name="mobile" class="form-control" value="<%= record.pickup %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">Drop Address</label>
					<input type="text" name="mobile" class="form-control" value="<%= record.drop %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">PickUp Date & Time</label>
					<input type="text" name="mobile" class="form-control" value="<%= new Date(record.Assgn_date).getDate()+"-"+(new Date(record.Assgn_date).getMonth()+1)+"-"+
						new Date(record.Assgn_date).getFullYear() %> || <%= record.Assgn_time %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">Cab Category</label>
					<input type="text" name="mobile" class="form-control" value="<%= record.vechicle_type %>" readonly>
				</div>
				<div class="form-group">
					<label class="text-dark">Status</label>
					<select class="custom-select" id="inputGroupSelect04" name="selectStatus">
						<option selected><%= record.status %></option>
						<option>Confirmed</option>
						<option>Completed</option>
						<option>Cancelled</option>
					</select>
				</div>
				<button type="submit" class="btn btn-secondary bg-dark">Update</button>
			</form>
		</div>
<% } %>	

<%- include("../partials/footer") %>